body{
    color: black;
    background-color: white;
}
img{
    height: 150px;
    height: 150px;
    border: 5px solid black;
}
header{
    display: flex;
    flex-direction: row;
    gap: 100px;
}
body{
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 100px;

}
header div{
    flex-direction: column;
}